{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gallerie</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idimage</th>
                <td>{{ entity.idimage }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('gallerie') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gallerie_edit', { 'id': entity.idimage }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
