{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Operation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numcontrat</th>
                <td>{{ entity.numcontrat }}</td>
            </tr>
            <tr>
                <th>Dateoperation</th>
                <td>{{ entity.dateoperation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nature</th>
                <td>{{ entity.nature }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('operation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('operation_edit', { 'id': entity.numcontrat }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
