{% extends "PidevReaBundle::Layout.html.twig" %}
{% block scripts %}

    <script>$(function () { // wait for document to load

            $('input[type=radio]', '#educ').rating('select', "{{ entity.education }}");
            $('input[type=radio]', '#env').rating('select', "{{ entity.environement }}");
            $('input[type=radio]', '#sant').rating('select', "{{ entity.sante }}");
            $('input[type=radio]', '#lois').rating('select', "{{ entity.loisirs }}");
            $('input[type=radio]', '#sec').rating('select', "{{ entity.securite }}");
            $('input[type=radio]', '#secours').rating('select', "{{ entity.secoursetinterventionurgence }}");
            $('input[type=radio]', '#tr').rating('select', "{{ entity.transport }}");
            $('input[type=radio]', '#onas').rating('select', "{{ entity.eauxusees }}");
            $('input[type=radio]').rating('disable');
        });</script>
    {% endblock %}

{% block content %}
    <h1>Zone: {{ entity.libelle }}</h1>

    <table class="record_properties" border="2">
        <tbody>
            <tr>
                <th>Education</th>
                <td><form name="api-select" id="educ">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form> </td>
            </tr>
            <tr>
                <th>Environement</th>
                <td><form name="api-select" id="env">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Secours</th>
                <td><form name="api-select" id="secours">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Sante</th>
                <td><form name="api-select" id="sant">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Loisirs</th>
                <td><form name="api-select" id="lois">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Sécurite</th>
                <td><form name="api-select" id="sec">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Transport</th>
                <td><form name="api-select" id="tr">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Eaux usées</th>
                <td><form name="api-select" id="onas">
                        <input type="radio" class="star" name="api-select-test" value="1"/>
                        <input type="radio" class="star" name="api-select-test" value="2"/>
                        <input type="radio" class="star" name="api-select-test" value="3"/>
                        <input type="radio" class="star" name="api-select-test" value="4"/>
                        <input type="radio" class="star" name="api-select-test" value="5"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Nombre de votes</th>
                <td>{{ entity.nbrvote }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('zone') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('zone_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
