{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Notification list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('notification_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                {% if entity.etat==0 %}
                    non lu
                    {% else %}
                        lu
                    {% endif %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('notification_delete', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('notification_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
