{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Utilisateur list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Mail</th>
                <th>Nomutilisateur</th>
                <th>Motpasse</th>
                <th>Role</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>Numtel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('utilisateur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.cin }}</td>
                <td>{{ entity.mail }}</td>
                <td>{{ entity.nomutilisateur }}</td>
                <td>{{ entity.motpasse }}</td>
                <td>{{ entity.role }}</td>
                <td>{% if entity.datecreation %}{{ entity.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datemodification %}{{ entity.datemodification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.numtel }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('utilisateur_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('utilisateur_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('utilisateur_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
