{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Demandeimmeuble</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nbretage</th>
                <td>{{ entity.nbretage }}</td>
            </tr>
            <tr>
                <th>Nbrappartement</th>
                <td>{{ entity.nbrappartement }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('demandeimmeuble') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('demandeimmeuble_edit', { 'id': entity.iddemande }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
